body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row{
  margin-top: 10px;
  margin-bottom:10px;
}
.row2{
  margin-top: 10px;
  margin-bottom:10px;
  /*margin-left:10px;*/
}
.column2{
  width:20px;
}
